<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageAnnotator.Properties.Settings.ImageAnnotationsConnectionString"
            connectionString="Data Source=danielweng.database.windows.net;Initial Catalog=ImageAnnotations;Persist Security Info=True;User ID=danielweng;Password=Engineeringspacex93"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>